<div class="row">
  <div class="columns large-12 small-12 medium-12">
    <h1>OkNameChanges</h1>
    <p>Thousands of people change their usernames every day on OKCupid. I'm going to show you a random (and real) username change every five seconds.</p>
  </div>
</div>
<div class="row">
  <div class="columns large-12 medium-12 small-12">
    <%= react_component('NameChangeFeed', firstChange: @first_change) %>
  </div>
</div>
<div class="row">
  <div class="columns large-12 medium-12 small-12">
    <hr>
    <p>built by <a href="https://twitter.com/prokizzle">@prokizzle</a> using <a href="reactjs.com">react</a>, <a href="http://rubyonrails.org">ruby on rails</a>, <a href="http://foundation.zurb.com">foundation</a>, <a href="http://www.bennadel.com/blog/2308-creating-a-fixed-length-queue-in-javascript-using-arrays.htm">fixed-length queues</a>, and <a href="http://font-awesome.com">font-awesome</a></p>
    <p>
      follow me on <a href="http://github.com/prokizzle">github</a> or <a href="http://instagram.com/prokizzle">instagram</a> or even <a href="http://linkedin.com/nick-prokesch">linkedin</a>
    </p>
  </div>
</div>