<div class="row">
  <div class="columns large-12 small-12 medium-12">
    <h1>OkNameChanges</h1>
    <p>Thousands of people change their usernames every day on OKCupid. I'm going to show you a random (and real) username change every five seconds.</p>
    <p><%= react_component('NameChangeCount', totalChanges: @total_changes) %></p>
  </div>
</div>
<div class="row">
  <div class="columns large-12 medium-12 small-12">
    <%= react_component('NameChangeFeed', firstChange: @first_change) %>
  </div>
</div>
<div class="row">
  <div class="columns large-12 medium-12 small-12">
    <hr>
    <p>built by <a href="https://twitter.com/prokizzle">@prokizzle</a> using <a href="reactjs.com">react</a>, <a href="http://rubyonrails.org">ruby on rails</a>, <a href="http://foundation.zurb.com">foundation</a>, <a href="http://www.bennadel.com/blog/2308-creating-a-fixed-length-queue-in-javascript-using-arrays.htm">fixed-length queues</a>, and <a href="http://sidekiq.org/">sidekiq</a></p>
    <p>
      follow me on <a href="http://github.com/prokizzle">github</a> or <a href="http://instagram.com/prokizzle">instagram</a> or even <a href="https://www.linkedin.com/pub/nick-prokesch/8/523/b24">linkedin</a>
    </p>
    <p>
      Lastly, the good folks at <a href="https://okcupid.com">OKCupid</a> do an outstanding job on their product. I appreciate their work, so I'm a paying member. If you use and appreciate Okcupid, I recommend paying for at least one month of A-list. Do it for the team, not just for the features.
    </p>
  </div>
</div>