/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */

@import "font-awesome";
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    word-wrap: normal;
    text-align: center;
    // overflow: auto;
}

#react-div:first-word,
#react-div:last-word {
    font-weight: bold;
}

.latter {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    word-wrap: normal;
    text-align: center;
}

.oldName,
.newName {
    font-weight: bold;
}

.became {
    margin-left: 10px;
    margin-right: 10px;
}

.loading {
    height: 300px;
}

.error {
    font-weight: bold;
    font-size: 10%;
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-div {
    padding: 4px;
    margin: 2px;
}

// .example-enter {
//   opacity: 0.01;
// }
// .example-enter.example-enter-active {
//   opacity: 1;
//   transition: opacity .5s ease-in;
// }
// .example-appear {
//   opacity: 0.01;
//   transition: opacity .5s ease-in;
// }
// .example-appear.example-appear-active {
//   opacity: 1;
// }
.changeBox {
    // background: gray;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    margin-left: 4px;
}
